{%load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{%static 'css\MainStyle.css'%}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title>Wenasss</title>
</head>
<body class="Color-Part2">
	<div class="container">
  <div class="row">
    <div class="col-rem">
    </div>
    <div class="col-rem">
      <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h2>  RAZER BLADE 15 RZ09-0351 i7-10750H 16GB RAM 256GB SSD 1660Ti 6GB 15.6P 120HZ W10 TEC ILUMINADO </h2>
        </button>
      </h2>
    </div>

        <p>
        	<br><img src="https://i.ibb.co/5B9YHLT/Razerlap.jpg" alt="Razerlap" width="360" height="280"><br>
        <br><img src="https://i.ibb.co/SrPHx8Q/1-medium.jpg" alt="1-medium" width="360" height="240" ><br>
    	<br><img src="https://i.ibb.co/3p1bGpb/3-medium.jpg" alt="3-medium"  width="360" height="280"><br>
    	<br><img src="https://i.ibb.co/0crs4pm/Back.jpg" alt="Back"  width="360" height="280"><br>	</p>
        <p>
         <b>
         	<br>Procesador: Intel Core i7-10750H 2.6 gigahertz <br>
			<br> Graficos: NVIDIA GeForce GTX 1660 Ti 6gb <br>
			<br>Memoria: 16gb DDR4 SDRAM 2933 megahertz <br>
			<br>Disco: 256 gigabytes SSD <br>
			<br> Pantalla: 15.6p 1920 x 1080 (Full HD) <br>
			<br> S.Operativo: Windows 10 Home <br>
			<br> Conectividad: Wi-Fi, Blueetoth <br>
		 	<br>Puertos: HDMI, USB, USB TIpo C <br>
       </p>
       

</body>
</html>